<div id="footer">
    <div class="footer-info">
        <div class="footer-info-block">
            <h5><b>About Us</b></h5>
            <ul>
                <li>Company Information</li>
            </ul>
        </div>
        <div class="footer-info-block">
            <h5><b>Careers</b></h5>
            <ul>
                <li>Culture</li>
                <li>Students</li>
                <li>Explore</li>
            </ul>
        </div>
        <div class="footer-info-block">
            <h5><b>Customer Support</b></h5>
            <ul>
                <li>How To Order</li>
                <li>Payment Methods</li>
                <li>Delivery & Collection</li>
                <li>Returns</li>
                <li>Refunds</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="footer-info-block">
            <h5><b>Policy</b></h5>
            <ul>
                <li>Privacy Policy</li>
                <li>Cookie Policy</li>
            </ul>
        </div>
    </div>
    <div class="footer-social">
        <div class="footer-left"><h5>© 2017 MKA TECHNOLOGIES</h5></div>
        <div class="footer-right">
            <div class="footer-social-block"><i class="fa fa-twitter"></i></div>
            <div class="footer-social-block"><i class="fa fa-facebook-f"></i></div>
            <div class="footer-social-block"><i class="fa fa-google-plus"></i></div>
            <div class="footer-social-block"><i class="fa fa-youtube"></i></div>
        </div>
    </div>
</div>
