@media all and (min-width: 1024px) {
    .product-img {
        margin-top: 0px;
    }

    .product-details {
        width:30%;
    }


    #basket-content > div {
        width:900px;
    }

    .product-img > img {
        width:200px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .product-img {
        margin-top: 20px;
    }

     .product-details {
        width:30%;
    }

    #basket-content > div {
        width:700px;
    }
    .product-img > img {
        width:180px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .product-img {
        margin-top: 30px;
    }

     .product-details {
        width:50%;
    }

    #basket-content > div {
        width:500px;
    }
    .product-img > img {
        width:150px;
    }
}

@media all and (max-width: 480px) {
    .product-img {
        margin-top: 40px;
    }


     .product-details {
        width:70%;
    }

    #basket-content > div {
        width:300px;
    }
    .product-img > img {
        width:120px;
    }
}

#search {
    margin-top: 0px;
}

#navbar-bg {
    background: black;
    height: 100px;
    width: 100%;
}

#basket-content {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;

}

#basket-content > div {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 41px -5px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#basket-content > div {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.product-item {
    display:inline-block;
    width:100%;
    background:rgba(240,240,240,0.2);
}

.product-price {
    color: darkblue;

}


.product-img {
    float: left;
}

.product-img > img {
    height: auto;
    float: left;
    padding:20px;
}

.product-details > div {
    font-family: 'Roboto Condensed', sans-serif;
}

.product-details > hr {
    margin-top: 55px;
}

.product-details {
    float: right;
    padding:30px;
}

.price {
    float: right;
    display: block;
}

.product-img {
    width: 20%;
}

#btn-checkout {
    font-style: normal;
    margin-bottom:20px;
    display: block;
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 250px;
    text-align: center;
    transition: 1s all;
    margin-left: auto;
    margin-right: auto;
}

#btn-checkout:hover {
    background-color: deepskyblue;
}

#total {
    width:100%;
    margin-top:30px;
    text-align: center;
    font-size:26px;
    color:rgb(10,100,0);
}

.product-remove {
    position: relative;
    color:darkred;
}

.product-remove:hover {
    color:indianred;
    text-decoration: underline;
}

.title {
    margin-bottom:30px;
}

.product-text > span{
    display:block;
    height:30px;
}

.select-quantity {
    width:40px;
    display: inline-block;
    height:25px;
}

.log-in-block p {
    display: block;
    width:400px;
    margin-left: auto;
    margin-right: auto;
}
.log-in-block {
    text-align: center;
    margin:0 auto;
    width:100%;
}