@media all and (min-width: 1024px) {
    .slide-text {
        font-size:30px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

    .slide-text {
        font-size:20px;
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {
    .slide-text {
        font-size:16px;
    }
}

@media all and (max-width: 480px) {
    .slide-text {
        font-size:12px;
    }
}

#search {
    margin-top:0px;
}

#categories {
    background:black;
    width:100%;
    height:225px;
    padding:20px;
    margin:0 auto;
}

#categories-row {
    width:70%;
    margin: 0 auto;
    margin-top:65px;
    height:100px;
    padding:0px;
}

.scale-down-50 {
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}

.scale-down-75 {
    -webkit-transform: scale(0.75); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.75); /* FF3.5+ */
      -ms-transform: scale(0.75); /* IE9 */
       -o-transform: scale(0.75); /* Opera 10.5+ */
          transform: scale(0.75);
}

.cateogires-item {
    margin:0 auto;
    text-align: center;
    color:white;
    text-transform: uppercase;
}

.cateogires-item a {
    margin-top:8px;
    display:block;
    font-size:12px;
}
.cateogires-item a:hover {
    color:skyblue;
    cursor: pointer;
}



#slippry-demo {
    height:auto;
    width:100%;
}

.slide-text {
    position: absolute;
    z-index: 100;
    color:white;
    background:rgba(0,0,0,0.7);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 50px 1px rgba(100,100,100,0.5);
    margin-top:20px;
}

#scroll-nav {
    background:whitesmoke;
    width:100%;
    padding-left:50px;
    padding-right:50px;
    margin-top:50px;
}

.header {
    margin-top:100px;
    text-align: center;
}

#nav-scroll-content {
    overflow-x:hidden;
    background:whitesmoke;
    display:flex;
    padding:50px;
    padding-left:50px;
}

#nav-scroll-content > div{
    margin:auto 50px;
}

#nav-scroll-content > div > div > img {
    width:100%;
}

#nav-scroll-content > div > div > .test-button {
    width:100px;
    height:30px;
    padding:5px;
    border:2px solid green;
    margin:0 auto;
    color:darkgreen;
    cursor:pointer;
}

#nav-scroll-content > div > div > .test-button:hover {
    background:green;
    color:white;
}

#nav-scroll-content > div > div {
    border-radius:10px;
    width:200px;
    text-align:center;
    height:275px;
    background:white;
    padding:5px;
    box-shadow: 0px 0px 50px 1px rgba(100,100,100,0.2);

}

.right-caret {
    position:relative;
    width:50px;
    height:100px;
    float:right;
    left:50px;
    top:-225px;
    font-size: 70px;
    padding:10px;
    color:grey;
    cursor:pointer;
}

.left-caret {
    position:absolute;
    width:50px;
    height:100px;
    margin-left:-50px;
    margin-top:100px;
    font-size: 70px;
    padding:10px;
     color:grey;
    cursor:pointer;
}

.header {
    text-transform: uppercase;
}