{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
     <link rel="stylesheet" href="{% static 'css/department.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slippry.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body>
{% include "website/shared/navbar.html" with categories=categories%}
<div id="categories">
    <div id="categories-row" class="row">

        {% for sub in subcategories %}
            <div class="cateogires-item">
            {% with 'images/subcategory-icons/'|add:category_url_name|add:'/'|add:sub.subcategory_image as image_static %}
                 <img style="width: auto;height:40px;" src="{% static image_static %}">
            {% endwith %}
            <a href="/search?subcategory={{ sub.name }}&category={{ category_full_name }}">{{ sub.name }}</a>
            </div>
        {% endfor %}

    </div>
</div>



<ul id="slippry-demo" >
  <li>
    <a href="#slide1">
        <div class="slide-text">RAZER BLADE</div>
        <img src="{% static 'images/razer-blade.png' %}"></a>
  </li>
  <li>
    <a href="#slide2"><div class="slide-text">ROCCAT SUORA</div><img src="{% static 'images/roccat-suora.png' %}"></a>
  </li>
  <li>
    <a href="#slide3"><div class="slide-text">ASUS MX34VQ</div><img src="{% static 'images/asus-mx34vq.png' %}"></a>
  </li>
</ul>

<div class="header">
    <h2>AVAILABLE PRODUCTS IN {{ category_full_name }}</h2>
</div>

<div id="scroll-nav">
    <div class="left-caret">
        <span class="fa fa-angle-left"></span>
    </div>
    <div id="nav-scroll-content">
    {% for product in products %}
    <div>
        <div>
            <h4><b>{{ product.product_short_name }}</b></h4>
            <img  src="{{ product.image_link }}">
            <br>
            <div class="test-button">VIEW</div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="right-caret">
        <span class="fa fa-angle-right"></span>
    </div>

</div>

{% include "website/shared/footer.html" %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/slippry.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>

    $(document).ready(function () {

        onResizeDepartment();
        $('#slippry-demo').slippry();
        $(window).resize(function () {
            onResizeDepartment();
        });

    });

    $(".right-caret").click(function() {
        $('#nav-scroll-content').stop();
        $('#nav-scroll-content').animate({scrollLeft:  $('#nav-scroll-content').scrollLeft() + $(window).width()/2}, 500);
    });

    $(".left-caret").click(function() {
        $('#nav-scroll-content').stop();
        $('#nav-scroll-content').animate({scrollLeft:  $('#nav-scroll-content').scrollLeft() - $(window).width()/2}, 500);
    });

    var onResizeDepartment = function() {
            var width = $(window).width();

            if(width < 950) {
                $('#categories-row').css("width","105%");
                $('.cateogires-item img').addClass('scale-down-50')
                $('.cateogires-item h6').css('margin-top','0px');
                $('#promo-img img').addClass('scale-down-75')
            } else {
                $('#categories-row').css("width","70%");
                $('.cateogires-item img').removeClass('scale-down-50')
                $('.cateogires-item h6').css('margin-top','10px');
                $('#promo-img img').removeClass('scale-down-75')
            }
        }
</script>
</body>
</html>